<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="email1" class="com.suns.A2_springhelloworld.Email">
        <property name="title" value="apply for a job"/>
        <property name="body" value="Hello, my name is A, I want a job."/>
    </bean>

    <bean id="email2" class="com.suns.A3_scope.Email" scope="prototype">
        <property name="title" value="apply for a job"/>
    </bean>

    <bean id="email3" class="com.suns.A4_inherit.Email">
        <property name="title" value="Hello World!"/>
        <property name="body" value="I am parent"/>
    </bean>

    <bean id="email4" class="com.suns.A4_inherit.Email" parent="email3">
        <property name="body" value="I am child"/>
    </bean>

    <bean id="email5" class="com.suns.A6_dependencyinjection.Email">
        <property name="title" value="Hello"/>
        <property name="body" value="This email contains an enclosure"/>
        <property name="enclosure" ref="enclosure"/>
    </bean>

    <bean id="enclosure" class="com.suns.A6_dependencyinjection.Enclosure">
        <property name="filename" value="file001.mp3"/>
        <property name="content" value="lalala..."/>
    </bean>

    <bean id="email6" class="com.suns.A7_required.Email">
        <property name="title" value="Hello"/>
        <property name="body" value=""/>
    </bean>
</beans>